.solita-logo {
    font-size: 36px;
    letter-spacing: 2px;
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    color: #bc9cb2;
    text-decoration: none !important;
    outline: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    transition: all 150ms ease;

    &:hover, &:focus, &:active {
        color: #806b7a;
    }
}
