.admin-header {
    position: sticky;
    z-index: 1030;
    top: 0;
    padding: 15px;
    background: $dark-blue-color;
    overflow-x: hidden;

    .admin-header-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%;

        .admin-header-hr {
            background: $white-color;
            padding: 1.5px 0;
        }

        .admin-header-top-container {
            height: 5%;
            display: flex;
            justify-content: space-between;
            align-items: center;

           .admin-header-toggle-button {
               border: none;
               border-radius: 0;
               width: 40px;
               height: 40px;
               background-image: linear-gradient(to right, $blue-color, $withered-purple-color, $withered-purple-color, $blue-color);
               background-size: 300% 100%;
               transition: all 200ms ease;

               &:hover, &:focus, &:active {
                   background-position: 100% 0;
                   color: $white-color;
               }
           }
        }

        .admin-header-center-container {
            height: 90%;
            overflow-y: scroll;

            .admin-navbar {
                list-style: none;
                padding: 0;
                margin: 0;
                white-space: nowrap;

                .admin-navbar-item {
                    font-size: .9rem;
                    padding: 7px 0;
                    position: relative;

                    &:hover, &:focus {
                        .admin-navbar-link {
                            color: $blue-color;
                            transition: all 200ms ease;
                        }
                    }

                    .admin-navbar-link {
                        display: block;
                        color: $white-color;
                        font-weight: 600;
                        text-transform: uppercase;
                    }

                    .dropdown {
                        &:after {
                            position: absolute;
                            top: 0;
                            right: 0;
                            content: '>';
                            display: inline-block;
                            font-size: 1rem;
                            transition: all 100ms ease;
                        }
                    }

                    .active {
                        color: $blue-color;
                    }

                    i {
                        font-size: 1.05rem;
                        width: 30px;
                        text-align: center;
                        margin-left: 0;
                    }

                    .admin-navbar-item-dropdown {
                        list-style: none;
                        margin-left: 42px;
                        margin-top: 5px;
                        padding: 0;

                        .admin-navbar-subitem {
                            padding: 0;

                            .admin-navbar-sublink {
                                color: $white-color;
                                font-size: .8rem;
                                transition: all 200ms ease;
                                position: relative;

                                &:hover, &:focus {
                                    color: $blue-color;
                                }
                            }

                            .subactive {
                                color: $blue-color;
                            }
                        }
                    }
                }

                .admin-navbar-link[aria-expanded='true'] {
                    &:after {
                        transform: rotate(90deg);
                    }
                }
            }
        }

        .admin-header-bottom-container {
            height: 5%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .admin-header-account-dropdown {
                .admin-header-account-icon,
                .admin-header-account-name {
                    transition: all 200ms ease;
                }

                .admin-header-account-icon {
                    filter: invert(96%) sepia(97%) saturate(12%) hue-rotate(237deg) brightness(103%) contrast(103%);
                }

                &:hover, &:focus {
                    .admin-header-account-icon {
                        filter: invert(38%) sepia(65%) saturate(2697%) hue-rotate(187deg) brightness(94%) contrast(90%);
                    }

                    .admin-header-account-name {
                        color: $blue-color;
                    }
                }

                .admin-header-account-icon {
                    margin-right: 5px;
                }

                .admin-header-account-name {
                    color: $white-color;
                }
            }

            .admin-navbar-language-dropdown {
                color: $white-color;
                transition: all 200ms ease;
                position: relative;

                &:hover, &:focus {
                    color: $blue-color;
                }
            }

            .dropdown-menu {
                border: 0;
                margin-top: -2px;
                margin-left: -2px;
                box-shadow: 0 10px 30px 10px rgb(0 0 0 / 5%);
                background: #FFF;
                min-width: 50px;
                z-index: 10000;
                margin-right: 20px;
                transition: opacity .2s ease-out;
                border-radius: 0;

                a {
                    padding: 3px 9px;
                    text-align: center;
                    color: $black-color;

                    &:active {
                        background: $gray-color;
                        color: $blue-color;
                    }
                }
            }
        }

        .hide {
            display: none;
        }
    }
}
